@import url('https://fonts.cdnfonts.com/css/common-pixel');

#pokedex {
    
}

#backgroundDex {
    position: absolute;
    width: 23%;
    height: auto;
    margin-top: 12.5%;
    margin-left: 23%;
}

#dex {
    width: 60%;
    height: auto;
    position: absolute;
    margin-left: 18%;
}

#rightButton {
    width: 3%;
    height: 3%;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-left: 42.5%;
    margin-top: 34.3%;
    color: #313131;
}

#leftButton {
    width: 3%;
    height: auto;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    position: relative;
    transform: translateX(-235%);
    color: transparent;
}

#shinyButton {
    width: 3%;
    height: auto;
    background-color: transparent;
    border-radius: 5px;
    background-size: 50%;
    border: none;
    position: relative;
    transform: translate(-880%, -30%);
    color: transparent;
    font-size: 400%;
}

#pokemonTela {
    position: relative;
    width: 10%;
    height: auto;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    transform: translate(-230%, -145%);
}

#sprite {
    width: 80%;
    height: auto;
}

#alturaPeso {
    display: inline-block;
    font-family: 'Common Pixel', sans-serif;
    font-size: 0.9vw;
    color: yellow
}

#altura {

    transform: translate(-93%, 460%);
}

#peso {
    transform: translate(56%, 270%);

}

#typeTela {
    position: relative;
    width: 20%;
    height: auto;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    color: transparent;
    transform: translate(-255%, -500%);

}

#types {

    width: 20%;
    height: auto;

}

#teste {
    width: 8%;
    position: relative;
    margin-left: 26.9%;
    font-family: 'Common Pixel', sans-serif;
    font-size: 0.78vw;
    background-color: transparent;
    border: none;


}

#pokemonName{
    position: relative;
    font-family: sans-serif;
    font-size: 0.9vw;
    text-transform: capitalize;
    margin-left: 32.3%;
    margin-top: -23.3%;
    color: aliceblue;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#name {
    
}

table {
    width: 19.35%;
    display:block;
    margin-left: 54.77%;
    margin-top: -3%;
    position: relative;
    font-family: sans-serif;
    font-size: 0.6vw;
    color: yellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: #084035;
    border: 2px solid;
    border-color: #061312;
    border-radius: 5px;
    box-shadow: -2px 2px#061312;
   
    
}

thead {
    display: inline-block;
    width: 100%;
    
}
tbody {
    height: 305px;
    display: inline-block;
    width: 100%;
    overflow: auto;
    
}
